@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  cursor: none;
  overflow-x: hidden;
  background: black;
}

/* Hide default cursor */
* {
  cursor: none !important;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

/* Dark mode variables */
:root {
  --scrollbar-track: #000000;
  --scrollbar-thumb: #ffffff;
  --scrollbar-thumb-hover: #555;
}

/* Light mode variables */
:root .light-mode {
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: #555;
}